*.*#
*~
.#*
*.a
*.app
*.autosave
*build-*
build/
CMakeLists.txt.user*
*.cmd
!core/
*.core
core
*.debug
*.Debug
.directory
dkms.conf
*.dll
.DS_Store
*.dSYM/
*.dylib
*.elf
.emacs.d/*
!.emacs.d/elpa/
*.exe
*.exec
*.exp
*.flc
*.gch
*.hex
*.i*86
*.ib_pdb_index
*.idb
.idea/
*.ilk
*.jsc
*.ko
*.la
*.lai
*.lib
*.lo
Makefile*
*.map
Mkfile.old
*.moc
moc_*.cpp
moc_*.h
*.mod
*.mod*
modules.order
Module.symvers
*.ncb
node_modules/
*.o
*.obj
object_script.*.Debug
object_script.*.Release
*.opensdf
*.orig
*.out
*.pch
*_pch.h.cpp
*.pdb
*_plugin_import.cpp
*.prl
*.pro.user
*.pro.user*
*.pro.user.*
*.pyc
*.qbs.user
*.qbs.user.*
*.qm
.qmake.cache
/.qmake.cache
.qmake.stash
/.qmake.stash
*.qmlc
*.qmlproject.user
*.qmlproject.user.*
qrc_*.cpp
*.rc
*.rej
*.Release
*.res
*_resource.rc
*.sdf
*.sln
*.slo
*.smod
*.so
*.so.*
*.su
*.suo
.*.swp
tags
target_wrapper.*
Thumbs.db
*.tmp
.tmp_versions/
ui_*.h
*.vcproj
*vcproj.*.*.user
*.vcxproj
*vcxproj.*
# .vscode/
*.x86_64

BTree.png